*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 67.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container {
  margin: 1em auto;
  padding: 0 1em;
  width: 100%;
}

.nav {
  width: 100%;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__logo a {
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 2.2rem;
  text-decoration: none;
  color: #000;
}

.nav__logo a i {
  margin-right: 0.25em;
}

.nav__buttons {
  margin-left: auto;
}

.nav__buttons button {
  padding: 0.6em 2em;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.nav__buttons button:nth-child(1) {
  margin-right: 0.5em;
}

.nav__buttons button:hover {
  background-color: black;
  color: #fff;
}

.notes-boxes {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notes-boxes .notes-box {
  margin-right: 1.5em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  width: 100%;
  background-color: limegreen;
  border: 1px solid black;
}

.notes-boxes .notes-box .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.8em;
  background-color: rgba(0, 0, 0, 0.1);
}

.notes-boxes .notes-box .top .note-title {
  font-weight: bold;
}

.notes-boxes .notes-box .top i {
  padding: 0.3em;
  cursor: pointer;
}

.notes-boxes .notes-box .bottom {
  padding: 1em 0.8em;
}

.popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  text-align: center;
}

.popup h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.popup .top,
.popup .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
}

.popup .top select {
  font-size: 1.3rem;
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-transition: border 0.2s, background-color 0.2s;
  transition: border 0.2s, background-color 0.2s;
  font-family: 'Roboto', sans-serif;
}

.popup .top select:focus {
  outline: none;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.15);
}

.popup .bottom textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  font-size: 1.3rem;
  padding: 0.8em;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-transition: border 0.2s, background-color 0.2s;
  transition: border 0.2s, background-color 0.2s;
  font-family: 'Roboto', sans-serif;
}

.popup .bottom textarea:focus {
  outline: none;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.15);
}

.popup .error {
  color: tomato;
  visibility: hidden;
}

.popup .error,
.popup label {
  margin-bottom: 1em;
}

.popup__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__buttons button {
  padding: 0.6em 2em;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.2rem;
  vertical-align: middle;
}

.popup__buttons button:nth-child(1) {
  margin-right: 0.5em;
}

.popup__buttons button:hover {
  background-color: black;
  color: #fff;
}

.popup__buttons button i {
  margin-right: 0.5em;
}

@media (max-width: 600px) {
  .nav__logo a {
    font-size: 2rem;
  }
  .nav__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
  }
  .nav__buttons button i {
    margin-right: 0.25em;
  }
  .notes-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .notes-boxes .notes-box {
    margin-bottom: 2em;
  }
}
/*# sourceMappingURL=style.css.map */